:root {
  --color-main: #bb5432;
  --color-alt: #f1c5b6;
  --color-light: #ffffff;
  
  --weight-light: 300;
  --weight-regular: 500;
  --weight-bold: 700;

  --transition-fast: 0.2s;
  --transition-slow: 1s;

  --gutter: 0.8rem;
}